.main {
    position: relative;
}

.chess-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #333;
    width: 400px;
    height: 400px;
}

.pieces-container {
    position: absolute;
    width: 400px;
    height: 400px;
    pointer-events: none;
}

.chess-container>div {
    position: relative;
    width: 50px;
    height: 50px;
}

.pieces-container>img {
    position: absolute;
    margin: 5px;
    width: 40px;
    height: 40px;
    z-index: 50;
    pointer-events: none;
}

div.row-1.predict:nth-child(even),
div.row-3.predict:nth-child(even),
div.row-5.predict:nth-child(even),
div.row-7.predict:nth-child(even) {
    background-color: rgb(0, 140, 255);
}

div.row-1.predict:nth-child(odd),
div.row-3.predict:nth-child(odd),
div.row-5.predict:nth-child(odd),
div.row-7.predict:nth-child(odd) {
    background-color: rgb(44, 160, 255);
}

div.row-0.predict:nth-child(odd),
div.row-2.predict:nth-child(odd),
div.row-4.predict:nth-child(odd),
div.row-6.predict:nth-child(odd) {
    background-color: rgb(0, 140, 255);
}

div.row-0.predict:nth-child(even),
div.row-2.predict:nth-child(even),
div.row-4.predict:nth-child(even),
div.row-6.predict:nth-child(even) {
    background-color: rgb(44, 160, 255);
}

.selected {
    background-color: green !important;
}


/* 
.white-piece {
    background-color: white;
}

.black-piece {
    background-color: black;
} */

div.row-1:nth-child(even),
div.row-3:nth-child(even),
div.row-5:nth-child(even),
div.row-7:nth-child(even) {
    background-color: brown;
}

div.row-1:nth-child(odd),
div.row-3:nth-child(odd),
div.row-5:nth-child(odd),
div.row-7:nth-child(odd) {
    background-color: burlywood;
}

div.row-0:nth-child(odd),
div.row-2:nth-child(odd),
div.row-4:nth-child(odd),
div.row-6:nth-child(odd) {
    background-color: brown;
}

div.row-0:nth-child(even),
div.row-2:nth-child(even),
div.row-4:nth-child(even),
div.row-6:nth-child(even) {
    background-color: burlywood;
}